<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/index1.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="/index1.js" defer ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<h1>Please fill in your information to register!</h1>

<div id="input">
    <form action="/registered" method="post">
        <div>Username: <input type="text" name="username"></div>
        <div>Password: <input type="password" name="password"></div>
        <div><input type="submit"></div>
    </form>
</div><br/><br/>
<div class="jumpto">
    <a href="/">Click here to return to homepage</a><br>
</div>
</body>
</html>